## fastq files
data/*fastq.gz

## DADA2
dada2/*fastq.gz
dada2/derepFs.rds
dada2/derepRs.rds
dada2/dadaFs.rds
dada2/dadaRs.rds
dada2/mergers.rds
dada2/seqtab.rds
dada2/seqtab_nochim.rds
dada2/taxa.rds
dada2/sv_seqs.rds

## Mothur
mgtst*
# large log file
mothur/mothur.1489429419.logfile

## QIIME 
qiime/joined_pairs
qiime/otus_uc_fast_no_chimera
qiime/split_libs
qiime/split_libs_chimera

## Reference
Trainset*
trainset*
silva*
